body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 10px; /* Optional space between inputs */
}

input:focus {
    border-color: #007bff;
    outline: none;
}
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group input {
    padding: 10px;
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px; /* Optional space between inputs */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    input {
        width: 100%;
    }
}
